@use "../prelude.scss";

window#osd {
    transition: prelude.$transition-default;
    border-radius: prelude.$border-radius-default;
    background-color: prelude.$bg-default-50;
    border: prelude.$border-default;
    font-family: "JetBrains Mono";

    & image {
        color: prelude.$fg-hover;

        &:disabled {
            color: prelude.$bg-active;
        }
    }

    & progressbar {
        background: transparent;
    }

    & trough {
        background: rgba(prelude.$bg-active, 0.2);
    }

    & progress {
        background: prelude.$fg-hover;
    }
}
